#blocklyDiv {
  /*width: 100%;
  position: absolute;
  bottom: 0;
  top:310px;*/
}
.blocklyFlyout {
  height: 200vh;
  transform: scale(0.9) !important;
  transform-origin: top left;
  transition: transform 40ms ease-in-out;
}

.blocklyFlyout:hover {
  transform: scale(1) !important;
}

.blocklyFlyoutScrollbar {
  display: none;
}
.blocklyFlyoutBackground {
  transform: scaleY(2) !important;
}
