@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400&family=Inter&display=swap");
* {
  box-sizing: border-box;
  /* font-family: "Inconsolata", monospace !important; */
}

body {
  background-color: rgb(225, 222, 218);
  font-family: "Inconsolata", monospace;
  margin: 0;
  background-size: 70px;
}
pre {
  margin: 0;
}
#blocklyDiv {
  width: 100%;
  height: 100vh;
  transition: filter 100ms ease-in;
}
.selected svg {
  fill: white;
}
#blocklyDiv * {
  font-family: "Inter", sans-serif;
}
.blocklySvg {
  /* background-color: rgb(228, 199, 194); */

  /* background-image: url("/tiles/Brain.png"); */
  /* background-image: url("/tiles/Linen.png"); */
  /* background-image: url("/tiles/Scatter Purple.png"); */
  /* background-image: url("/tiles/Bulge.png"); */
  /* background-image: url("/tiles/Scatter.png"); */
  /* background-image: url("/tiles/Burlap.png"); */
  /* background-image: url("/tiles/Scribble.png"); */
  /* background-image: url("/tiles/Cirrostratus.png"); */
  /* background-image: url("/tiles/Nebula.png"); */
  /* background-image: url("/tiles/Cracked.png"); */
  /* background-image: url("/tiles/Rhodo.png"); */
  /* background-image: url("/tiles/Rockface.png"); */
  /* background-image: url("/tiles/Swirl.png"); */
  /* background-image: url("/tiles/Dither 1x1.png"); */
  /* background-image: url("/tiles/Tide Pool.png"); */
  /* background-image: url("/tiles/Dither 2x2.png"); */
  /* background-image: url("/tiles/Scallop.png"); */
  /* background-image: url("/tiles/Verde Marble.png"); */
  /* background-image: url("/tiles/Scatter Blue.png"); */
  /* background-image: url("/tiles/Fabric.png"); */
  /* background-image: url("/tiles/Scatter Classic.png"); */
  /* background-image: url("/tiles/Granite.png"); */
  /* background-image: url("/tiles/Scatter Green.png"); */
  background-image: url("/tiles/Scatter Pink.png");
  /* background-image: url("/tiles/ScatterGray.png"); */
  background-size: 80px;
  /* filter: brightness(1.1); */
  /*background-color: rgb(228, 199, 194, 0);*/
}

#world {
  position: relative;
  /* right: 0; */
  /* top: 0;  */
  height: 100vh;
  flex-shrink: 0;
  background-image: url("/tiles/ScatterGray.png");
  background-size: 30px;
}

.element-tray {
  /*z-index: 1;*/
}

.blocklyDraggable {
  /*pointer-events: all;*/
}

.blocklyMainBackground {
  stroke: none;
  /* fill: transparent !important; */
  /*pointer-events: none;*/
}

.blocklyBlockCanvas {
  filter: drop-shadow(1px 4px 4px rgba(46, 44, 44, 0.228));
}
.App {
  display: flex;
  /* transition: filter 10ms linear; */
}

.update-scheme-tray {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}
.resizeHandle {
  width: 8px;
  height: 100%;
  /* border-radius: 6px 0 0 6px; */
  /* background-color: gainsboro; */
  background: repeating-linear-gradient(
    90deg,
    gray,
    gray 1px,
    gray 2px,
    gainsboro 2px,
    gainsboro 3px
  );
  /* box-shadow: 0px 0px 3px rgba(0,0,0,.3); */
  border: 0px ridge gray;
  position: absolute;
  left: -8px;
  top: 0;
  z-index: 2000;
  cursor: ew-resize;
}

label {
  color: black;
  font-size: 16px;
}
#fps {
  position: fixed;
  display: block;
  align-content: right;
  text-align: right;
  width: 100px;
  right: 5px;
  bottom: 40px;
  z-index: 2000;
  color: darkslateblue;
}
.Auth {
  font-size: 16px;
}

.Auth a {
  display: block;
}
