* {
  box-sizing: border-box;
}
#root {
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
  /* display: flex; */
  /* flex-direction: column; */
}
body {
  background-color: rgb(225, 222, 218);
}

#blocklyDiv {
  width: 100%;
  height: 100vh;
}

.blocklySvg {
  background-color: rgb(228, 199, 194);
  /*background-color: rgb(228, 199, 194, 0);*/
}

#world {
  position: relative;
  flex-shrink: 0;
}

.element-tray {
  /*z-index: 1;*/
}

.blocklyDraggable {
  /*pointer-events: all;*/
}

.blocklyMainBackground {
  stroke: none;
  /*pointer-events: none;*/
}

.blocklyBlockCanvas {
  filter: drop-shadow(1px 4px 4px rgb(177, 158, 158));
}
.App {
  display: flex;
}

.update-scheme-tray {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}
.resizeHandle {
  width: 8px;
  height: 100%;
  /* border-radius: 6px 0 0 6px; */
  /* background-color: gainsboro; */
  background: repeating-linear-gradient(
    90deg,
    gray,
    gray 1px,
    gray 2px,
    transparent 2px,
    transparent 3px
  );
  /* box-shadow: 0px 0px 3px rgba(0,0,0,.3); */
  border: 0px ridge gray;
  position: absolute;
  left: -8px;
  top: 0;
  z-index: 2000;
  cursor: ew-resize;
}

label {
  color: black;
  font-size: 16px;
}
