.browse-page {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
}
@media only screen and (max-width: 700px) {
  .browse-page {
    flex-direction: column-reverse;
    height: auto;
  }
}

.browse {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  /* max-width: 90vw; */
  height: 100%;
  overflow: scroll;
}

.browse.family {
  margin: 0;
  /* min-width: 765px; */
}
.browse.family img {
  width: 300px;
  max-width: 50vw;
}

.post .element-tray {
  width: 400px;
  max-width: 50vw;
  /* display: block; */
}
@media only screen and (max-width: 500px) {
  .family {
    margin: 0;
  }
}
.browse .post {
  background-color: rgba(250, 247, 247, 0.723);
  padding: 5px;
  margin-bottom: 6px;
  position: relative;
}
.browse-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2px;
}
.filterControls {
  display: flex;
  padding: 5px;
}
.pfp {
  border-radius: 100%;
  width: 50px !important;
}
.post .pfp {
  position: absolute;
  right: 0;
  bottom: 2px;
}

.element-set-button {
  flex-grow: 0;
  height: auto;
  text-align: start;
  padding: 0px;
}
