.browse {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.browse.family img {
  width: 200px;
}

.post .element-tray {
  max-width: 300px;
  display: block;
}
