button {
  height: 30px;
  min-width: 30px;
  font-size: 19px;
  padding: 1px 5px;
  background-color: whitesmoke;
  color: black;
  border: 2px solid whitesmoke;
  border-color: gainsboro;
  flex-grow: 1;
  fill: black;
  line-height: 0px;
  cursor: pointer;
  user-select: none;
}
.simulation-button {
  z-index: 1;
  width: fit-content;
}
.element-tray button.element-control {
  min-width: 30px;
  width: 30px;
  flex-grow: 0;
  font-size: 20px;
}
.worldCanvas {
  z-index: 1;
  width: 100%;
  border: 3px ridge gray;
  border-left: 1px solid black;
}

.element-tray button {
  min-width: 80px;
}
.shrink {
  transform: scale(0.8);
  filter: saturate(150%);
  transition: all 50ms linear;
  border-color: red !important;
}
.spacer {
  flex-grow: 10;
  width: auto;
}
.update-scheme-button {
  font-size: 10px;
  min-width: 200px !important;
}

button.selected {
  border-color: black;
  background: black;
  color: white;
  /* border-radius: 6px; */
  text-shadow: 1px 0px rgba(0, 0, 0, 0.5), -1px 0px rgba(0, 0, 0, 0.5),
    0px 1px rgba(0, 0, 0, 0.5), 0px -1px rgba(0, 0, 0, 0.5);
}
button:hover {
  filter: brightness(0.9);
}
.element-tray {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 3px;
}
.update-scheme-tray {
  display: flex;
}
.extras-tray {
  display: flex;
  padding: 5px;
  flex-direction: column;
  flex-wrap: wrap;
}
textarea#json {
  width: 100%;
  height: 60px;
}
summary {
  font-size: 1rem;
  color: black;
}
.wordmark {
  position: fixed;
  bottom: 5px;
  width: 180px;
  right: 2px;
  margin-bottom: 0;
  /* opacity: 0.5; */
}
